.mw-100px {
  max-width: 150px;
}

.border-radius-15 {
  border-radius: 15px;
}

.padding-action {
  padding: 0.5rem 0.75rem;
}
.padding-r-15 {
  padding-right: 15px;
}

.fw-bold {
  font-weight: 700;
}
.f-16px {
  font-size: 16px;
}
.f-20px {
  font-size: 20px;
}

.bg-blue {
  background-color: #4B49AC;
}
.bg-red {
  background-color: #dc4a38;
}

.page-dumpskin {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.button-prepare {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.button-prepare:hover {
  transform: translateY(-1px);
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.button-prepare :focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}
.button-prepare :active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.toast-success {
  background-color: green;
  border-radius: 20px !important;
}
.toast .toast-message {
  text-align: center;
}

.table td img {
  width: 80px;
  height: 80px;
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.table .wrap-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table .details-control {
  cursor: pointer;
}
.table .details-control:before {
  content: "\e64b";
  font-family: "themify";
}
.table .cell-hilighted {
  background-color: #4B49AC;
  border-radius: 10px;
  padding: 18px;
  color: #fff;
  font-size: 11px;
}
.table .icon-circle-plus:before {
  font-size: 20px;
}

.filter-area {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
}

.product_detail .min-width-cell {
  min-width: 150px;
}

ul.two-column-order-list {
  -moz-column-count: 5;
  -webkit-column-count: 2;
  -webkit-column-gap: 15px;
  -moz-column-count: 2;
       column-count: 2;
}

.form-mutiple-step i:not(.input-helper, .dandev-plus) {
  display: inline-block;
  font-size: 20px;
  width: 40px;
  text-align: left;
  color: #4B49AC;
}
.form-mutiple-step .form-steps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}
.form-mutiple-step .next-prev {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.form-mutiple-step .next-prev :not(:last-child) {
  margin-right: 30px;
}
.form-mutiple-step .next-prev a {
  padding: 10px 20px;
}
.form-mutiple-step .form-steps li {
  display: inline-block;
  margin: 20px;
  color: #ccc;
  padding-bottom: 5px;
}
.form-mutiple-step .form-steps li.is-active {
  font-size: 16px;
  border-bottom: 1px solid #4B49AC;
  color: #4B49AC;
  font-weight: 700;
}
.form-mutiple-step.step-1 .tab-product-variant, .form-mutiple-step.step-1 .submit-area {
  display: none !important;
}
.form-mutiple-step.step-2 .tab-category, .form-mutiple-step.step-2 .tab-product {
  display: none !important;
}

/**
Icon
 */
.mdi:before, .mdi-set {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mdi-alert-circle-outline::before {
  content: "\f5d6";
}

/**
upload image
 */
.wrap {
  margin: 10% auto;
  width: 60%;
}

.dandev-reviews {
  position: relative;
  margin: 20px 0;
}

.dandev-reviews .form_upload {
  width: 320px;
  position: relative;
  padding: 5px;
  bottom: 0px;
  height: 40px;
  left: 0;
  z-index: 5;
  box-sizing: border-box;
  background: #f7f7f7;
  border-top: 1px solid #ddd;
}

.dandev-reviews .form_upload > label {
  height: 35px;
  width: 160px;
  display: block;
  cursor: pointer;
}

.dandev-reviews .form_upload label span {
  padding-left: 26px;
  display: inline-block;
  background: url() no-repeat;
  background-size: 23px 20px;
  margin: 5px 0 0 10px;
}

.list_attach {
  display: block;
  margin-top: 30px;
}

ul.dandev_attach_view {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.dandev_attach_view li {
  float: left;
  width: 80px;
  margin: 0 20px 20px 0 !important;
  padding: 0 !important;
  border: 0 !important;
  overflow: inherit;
  clear: none;
}

ul.dandev_attach_view .img-wrap {
  position: relative;
}

ul.dandev_attach_view .img-wrap .close {
  position: absolute;
  right: -10px;
  top: -10px;
  background: #000;
  color: #fff !important;
  border-radius: 50%;
  z-index: 2;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  cursor: pointer !important;
  opacity: 1 !important;
  text-shadow: none;
}

ul.dandev_attach_view li.li_file_hide {
  opacity: 0;
  visibility: visible;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
}

ul.dandev_attach_view .img-wrap-box {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  height: auto;
  background-position: 50% 50%;
  background-size: cover;
}

.img-wrap-box img {
  right: 0;
  width: 100% !important;
  height: 100% !important;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
}

ul li,
ol li {
  list-style-position: inside;
}

.list_attach span.dandev_insert_attach {
  width: 80px;
  height: 80px;
  text-align: center;
  display: inline-block;
  border: 2px dashed #ccc;
  line-height: 76px;
  font-size: 25px;
  color: #ccc;
  cursor: pointer;
  float: left;
}

ul.dandev_attach_view {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.dandev_attach_view .img-wrap {
  position: relative;
}

.list_attach.show-btn span.dandev_insert_attach {
  display: block;
  margin: 0 0 20px !important;
}

i.dandev-plus {
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 1;
}

ul.dandev_attach_view li input {
  display: none;
}

.ck-editor__editable {
  min-height: 200px;
}
